
    <div class="login-page">
  <div class="form">

    <form class="login-form" >

      <input type="password" placeholder="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
      <span (click)="submitform()">login</span>
      <!--<p class="message">Not registered? <a href="#">Create an account</a></p>-->
    </form>
  </div>
</div>
