<div class="container-fluid">

<div class="row">

	<section  style="height: 400px;width: auto;">
		<article class="white-panel card-box" *ngFor="let oneorder of orderplace;let order_index=index">
					 <div class="panel-body" [ngStyle]="{'background-color':  oneorder.color,'color':oneorder.color2}">

								<ul class="dropdown ellipsis">
								 <a  href="#" class=" dropdown-toggle"   data-toggle="dropdown">
									<i class="fa fa-ellipsis-v"></i></a>
								 <ul class="dropdown-menu ellipsis" >
										<li><a (click)="close(order_index)">close</a></li>
										<!-- <li><a href="#">skip</a></li> -->
									</ul>
						</ul>

								<h4><b>GDUD-{{oneorder.user_auto_id}}  <span *ngIf="oneorder.username">{{oneorder.username.substr(0, 6)}}<span *ngIf="oneorder.username.length>6">..</span></span>   <span class="time"> {{ oneorder.created_at | date:"h:mma"}}</span></b></h4>

								<h4><b>
									<!-- <span class="dot" ></span> -->
									 <span *ngIf="oneorder.deliveryfee =='set' || oneorder.deliveryfee =='Set'" class="center1">Delivery</span>
									 <span *ngIf="oneorder.deliveryfee !='set' && oneorder.deliveryfee !='Set'" class="center1">Pickup</span>
								 </b>
								 <!-- <span ><img src="glass1.png" class="glass"></span> -->

								<hr>
								<br>
								<span *ngFor="let cart of oneorder.session_cart">
	                <span *ngIf="cart.category_name!='5a1bd709b663f2e3cc093792' && cart.category_name!='5a1bd759b663f2e3cc093794' && cart.category_name!='5a7b1eb123b49e76af61d386'">{{cart.qty}} {{cart.name}}<br>
	                    <ul class="topping">
	                      <span *ngFor="let topping of cart.toppings">
	                          <li *ngIf="topping.sign!=''">{{topping.sign}} {{topping.name}} ({{topping.size}}x) {{topping.side}}</li>
	                      </span>
	                    </ul>
	                </span>
	              </span>
											<!-- 1 XLP New Yorker  <br> 1 L T BBQ Chic&Ba  <br>1 Garlic Bread  -->
											 <hr>
												 GDOD-{{oneorder.auto_id}} <span *ngIf="oneorder.emp_name">{{oneorder.emp_name.substr(0, 6)}}<span *ngIf="oneorder.emp_name.length>6">..</span></span><span class="zero"> {{oneorder.emp_auto_id}}</span>
								</h4>

					 </div>
</article>
</section>

</div>
</div>
			 <!-- <article class="white-panel card-box"><div class="panel panel-default" >
					 <div class="panel-body">

								<ul class="dropdown" align="right" style="margin-top: -14px;" >
								 <a  href="#" class=" dropdown-toggle"   data-toggle="dropdown">
									<i class="fa fa-ellipsis-v"></i></a>
								 <ul class="dropdown-menu dropdown-menu-right ">
										<li><a href="#">close</a></li>
										<li><a href="#">skip</a></li>
									</ul>
						</ul>

								<h4><b>W89397  Brittan   <span class="time"> 03:11</span></b></h4>

								<h4><b><span class="dot" ></span>
									 <span class="center1">Delivery</span></b> <span ><img src="glass1.png" class="glass"></span>

								<hr>
								<br>
											1 XLP New Yorker  <br> 1 L T BBQ Chic&Ba  <br>1 Garlic Bread  <hr>
												 9999989 RESAPI <span class="zero"> 0</span>
								</h4><h4><b><span class="dot" ></span>
									 <span class="center1">Delivery</span></b> <span ><img src="glass1.png" class="glass"></span>

								<hr>
								<br>
											1 XLP New Yorker  <br> 1 L T BBQ Chic&Ba  <br>1 Garlic Bread  <hr>
												 9999989 RESAPI <span class="zero"> 0</span>
								</h4>

					 </div>
</article> -->
<div class="for-reopen" *ngIf="orderdetail">

		<article class="order-detail white-panel card-box" >
					 <div class="panel-body">
						<h4><b>GDUD-{{orderdetail.user_auto_id}}  <span *ngIf="orderdetail.username">{{orderdetail.username.substr(0, 6)}}<span *ngIf="orderdetail.username.length>6">..</span></span>   <span class="time"> {{ orderdetail.created_at | date:"h:mma"}}</span></b></h4>
								<h4><b>
									 <span *ngIf="orderdetail.deliveryfee =='set' || orderdetail.deliveryfee =='Set'" class="center1">Delivery</span>
									 <span *ngIf="orderdetail.deliveryfee !='set' && orderdetail.deliveryfee !='Set'" class="center1">Pickup</span>
								 </b>
								<hr>
								<br>
								<span *ngFor="let cart of orderdetail.session_cart">
									<span *ngIf="cart.category_name!='5a1bd709b663f2e3cc093792' && cart.category_name!='5a1bd759b663f2e3cc093794' && cart.category_name!='5a7b1eb123b49e76af61d386'">{{cart.qty}} {{cart.name}}<br>
											<ul class="topping">
												<span *ngFor="let topping of cart.toppings">
														<li *ngIf="topping.sign!=''">{{topping.sign}} {{topping.name}} ({{topping.size}}x) {{topping.side}}</li>
												</span>
											</ul>
									</span>
								</span>
								<hr>
							GDOD-{{orderdetail.auto_id}} <span *ngIf="orderdetail.emp_name">{{orderdetail.emp_name.substr(0, 6)}}<span *ngIf="orderdetail.emp_name.length>6">..</span></span><span class="zero"> {{orderdetail.emp_auto_id}}</span>
								</h4>
								<button type="button" name="button">Reopen</button>
					 </div>
</article>

</div>
<div class="bottom-input">
	<input type="text" (input)="search_order($event.target.value)" class="form-control" placeholder="Reopen Order" name="" value="">
</div>
