<div class="row">
	<div class="col-md-offset-10 col-md-2" style="color:#fff">
		<select name="" *ngIf="stores && stores.length>0" (change)="afterselect_store($event.target.value)" class="form-control">
					
				<option value="">select store location</option>
				<option *ngFor="let store of stores;let i=index" value="{{i}}">{{store.name}}</option>
			</select>
	</div>
</div>


  <app-login *ngIf="!login" (loginEvent)="loginapp($event)"></app-login>
<div *ngIf="login">
  <!-- <div class="container-fluid"> -->
<div class="row">
	<div class="col-md-offset-10 col-md-2" style="color:#fff">
		Orders In Queue : {{inqueue}} 
	</div>
</div>
<div class="row">

	<!-- <section  style="height: 400px;width: auto;"> -->
		<article class="col-md-3 white-panel card-box" *ngFor="let oneorder of orderplace;let order_index=index" [ngStyle]="{'background-color':  oneorder.color,'color':oneorder.color2}">
					 <div class="panel-body" >
						 <div>
							 <div (click)="skip(order_index)" class="round-but skip-but">S</div>
						 	 <div (click)="close(order_index)" class="round-but close-but">D</div>
						</div>
						
								<!-- <ul class="dropdown ellipsis">
								 <a  href="#" class=" dropdown-toggle"   data-toggle="dropdown">
									<i class="fa fa-ellipsis-v"></i></a>
									
								 <ul class="dropdown-menu ellipsis" >
										<li><a (click)="close(order_index)">close</a></li>
										<li><a (click)="skip(order_index)">skip</a></li>
									</ul>
								</ul> -->

								<h4><b>GDUD-{{oneorder.user_auto_id}}  <span *ngIf="oneorder.username">{{oneorder.username.substr(0, 6)}}<span *ngIf="oneorder.username.length>6">..</span></span>   </b></h4>

								<h4><b>
									<!-- <span class="dot" ></span> -->
									 <span *ngIf="oneorder.deliveryfee =='set' || oneorder.deliveryfee =='Set'" class="center1">Delivery <span class="dp_time" *ngIf="!oneorder.date && !oneorder.time">({{(oneorder.timestarmp+(avgdeliverytime*60000)) | date:"h:mma"}})</span>
									 
									 <span class="dp_time" *ngIf="oneorder.date && oneorder.time">({{oneorder.date | date:yMMMd}} {{oneorder.time}})</span>
									 </span>

									 <span *ngIf="oneorder.deliveryfee !='set' && oneorder.deliveryfee !='Set'" class="center1">Pickup <span class="dp_time" *ngIf="!oneorder.date && !oneorder.time">({{(oneorder.timestarmp+(avgpickuptime*60000)) | date:"h:mma"}})</span>
									 <span class="dp_time" *ngIf="oneorder.date && oneorder.time">({{oneorder.date | date:yMMMd}} {{oneorder.time}})</span></span>
									 

									 <span class="time"> {{ oneorder.created_at | date:"h:mma"}}</span>

									 <img *ngIf="oneorder.reopen_status" src="assets/img/glass1-min.png" class="glass">

								 <img *ngIf="oneorder.date && oneorder.time" src="assets/img/watch-min.png" class="glass">

								 <!-- <img src="assets/img/watch-min.png" class="glass"> -->

								 <span *ngIf="oneorder.reasontoedit">*</span>
								 
								 </b>
								 

								<hr>
								<!-- <br> -->
								<span *ngFor="let cart of oneorder.session_cart">
	                <span *ngIf="cart.category_name!='5a1bd759b663f2e3cc093794' && cart.category_name!='5a7b1eb123b49e76af61d386'">{{cart.qty}} {{cart.size_name}} {{cart.crust_name}} {{cart.name}}<span *ngIf="cart.edited">*</span><br>
	                    <ul class="topping">
	                      <span *ngFor="let topping of cart.toppings">
	                          <li *ngIf="topping.sign!='' && topping.id!=''">{{topping.sign}} {{topping.name}} ({{topping.size}}x) {{topping.side}}</li>
	                      </span>

						  <span *ngIf="cart.choosed_dish_in_combo && cart.choosed_dish_in_combo.length>0" class="description">
                      <span *ngFor="let toppings2 of cart.choosed_dish_in_combo" class="combo-detail">{{toppings2.qty}} {{toppings2.size_name}} {{toppings2.crust_name}} {{toppings2.name}}
                          <li *ngFor="let toppings of toppings2.toppings"><span *ngIf="toppings.sign!=''  && toppings.id!=''">{{toppings.sign}}{{toppings.name}}({{toppings.size}}x){{toppings.side}}</span></li><br>	

                      </span>
                    </span>

						</ul>
						<span *ngIf="cart.instructions">Instruction: {{cart.instructions}}<br><br></span>
					</span>
					
				  </span>
				  <span *ngIf="oneorder.special_instruction">Special Instruction: {{oneorder.special_instruction}}<br><br></span>
				  
											<!-- 1 XLP New Yorker  <br> 1 L T BBQ Chic&Ba  <br>1 Garlic Bread  -->
											 <hr>
												 GDOD-{{oneorder.auto_id}} <span *ngIf="oneorder.emp_name">{{oneorder.emp_name.substr(0, 6)}}<span *ngIf="oneorder.emp_name.length>6">..</span></span><span class="zero"> {{oneorder.emp_auto_id}}</span>
								</h4>

					 </div>
</article>
<!-- </section> -->

</div>
<!-- </div> -->
			 <!-- <article class="white-panel card-box"><div class="panel panel-default" >
					 <div class="panel-body">

								<ul class="dropdown" align="right" style="margin-top: -14px;" >
								 <a  href="#" class=" dropdown-toggle"   data-toggle="dropdown">
									<i class="fa fa-ellipsis-v"></i></a>
								 <ul class="dropdown-menu dropdown-menu-right ">
										<li><a href="#">close</a></li>
										<li><a href="#">skip</a></li>
									</ul>
						</ul>

								<h4><b>W89397  Brittan   <span class="time"> 03:11</span></b></h4>

								<h4><b><span class="dot" ></span>
									 <span class="center1">Delivery</span></b> <span ><img src="glass1.png" class="glass"></span>

								<hr>
								<br>
											1 XLP New Yorker  <br> 1 L T BBQ Chic&Ba  <br>1 Garlic Bread  <hr>
												 9999989 RESAPI <span class="zero"> 0</span>
								</h4><h4><b><span class="dot" ></span>
									 <span class="center1">Delivery</span></b> <span ><img src="glass1.png" class="glass"></span>

								<hr>
								<br>
											1 XLP New Yorker  <br> 1 L T BBQ Chic&Ba  <br>1 Garlic Bread  <hr>
												 9999989 RESAPI <span class="zero"> 0</span>
								</h4>

					 </div>
</article> -->
<div class="for-reopen" *ngIf="orderdetail">
		<article class="order-detail white-panel card-box" >
					 <div class="panel-body">
             <a href="javascript:void(0)" (click)="orderdetail=undefined" class="closebutton"><i class="fa fa-close"></i></a>
						<h4><b>GDUD-{{orderdetail.user_auto_id}}  <span *ngIf="orderdetail.username">{{orderdetail.username.substr(0, 6)}}<span *ngIf="orderdetail.username.length>6">..</span></span>   <span class="time"> {{ orderdetail.created_at | date:"h:mma"}}</span></b></h4>
								<h4><b>
									 <span *ngIf="orderdetail.deliveryfee =='set' || orderdetail.deliveryfee =='Set'" class="center1">Delivery</span>
									 <span *ngIf="orderdetail.deliveryfee !='set' && orderdetail.deliveryfee !='Set'" class="center1">Pickup</span>
								 </b>
								<hr>
								<br>
								<span *ngFor="let cart of orderdetail.session_cart">
									<span *ngIf="cart.category_name!='5a1bd759b663f2e3cc093794' && cart.category_name!='5a7b1eb123b49e76af61d386' ">{{cart.qty}} {{cart.size_name}} {{cart.crust_name}} {{cart.name}}<br>
										<ul class="topping">
										  <span *ngFor="let topping of cart.toppings">
											  <li *ngIf="topping.sign!='' && topping.id!=''">{{topping.sign}} {{topping.name}} ({{topping.size}}x) {{topping.side}}</li>
										  </span>
				
										  <span *ngIf="cart.choosed_dish_in_combo && cart.choosed_dish_in_combo.length>0" class="description">
									  <span *ngFor="let toppings2 of cart.choosed_dish_in_combo" class="combo-detail">{{toppings2.qty}} {{toppings2.size_name}} {{toppings2.name}}
										  <li *ngFor="let toppings of toppings2.toppings"><span *ngIf="toppings.sign!=''  && toppings.id!=''">{{toppings.sign}}{{toppings.name}}({{toppings.size}}x){{toppings.side}}</span></li><br>	
				
									  </span>
									</span>
				
										</ul>
										<span *ngIf="cart.instructions">Instruction: {{cart.instructions}}<br><br></span>
									</span>
								</span>
								<hr>
								
								<span *ngIf="orderdetail.special_instruction">Special Instruction: {{orderdetail.special_instruction}}<br><br></span>

							GDOD-{{orderdetail.auto_id}} <span *ngIf="orderdetail.emp_name">{{orderdetail.emp_name.substr(0, 6)}}<span *ngIf="orderdetail.emp_name.length>6">..</span></span><span class="zero"> {{orderdetail.emp_auto_id}}</span>
								</h4>
								<button *ngIf="orderdetail.chef_status" type="button" name="button" (click)="reopen(orderdetail)">Reopen</button>

                <span *ngIf="!orderdetail.chef_status">Already Open</span>

					 </div>
</article>
</div>

<div class="bottom-input">
	<input type="text" (input)="search_order($event.target.value)" class="form-control" placeholder="Reopen Order" name="" value="" id="reopen_input">
</div>
</div>